.abilityTooltip {
  margin-top: 95px;
  width: 300px;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(19, 21, 25), rgb(31, 34, 40));
  border: 2px solid rgb(39, 41, 43);
  z-index: 10;
}
.abilityTooltip__components {
  width: 100%;
  padding: 10px;
}

// Title.tsx
.title,
.title_bonus {
  padding: 10px;
  width: 100%;
  height: max-content;
  display: flex;
  gap: 1rem;
  color: #ffffffde;
  background: linear-gradient(to right, rgb(81, 86, 95), rgb(48, 51, 56));

  img {
    width: 52px;
    height: 52px;
  }

  div {
    display: inline;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.title {
  img {
    border: 1px solid #000000;
  }
}

.title_bonus {
  align-items: center;
}

// Behavior.tsx
.behavior {
  padding-bottom: 10px;
  color: #ffffffde;

  div {
    &:not(:last-child) {
      padding-bottom: 5px;
    }

    span {
      color: #6c7b7e;
    }

    .dmgType_magical {
      color: #5b93d1;
    }

    .dmgType_pure {
      color: #d8ae53;
    }

    .dmgType_physical {
      color: #ae2f28;
    }

    .pierces_yes {
      color: #66bb6a;
    }

    .pierces_no {
      color: #ff4c4c;
    }

    .dispellable_yes {
      color: #66bb6a;
    }

    .dispellable_no {
      color: #ff4c4c;
    }

    .dispellable_strong {
      color: darkred;
    }
  }
}

.target,
.dmgType,
.pierces,
.dispellable {
  font-size: 13px;
  div {
    display: inline;
  }
}

// About.tsx
.aboutAbility {
  padding: 10px 0px;
  color: #6c7b7e;
  font-size: 13px;
}

// Attributes.tsx
.attributes {
  padding-top: 10px;
  color: #6c7b7e;
}

.attributes__header {
  font-size: 13px;

  &:not(:last-child) {
    padding-bottom: 5px;
  }

  div {
    display: inline;
    color: #ffffffde;
  }
}

// Cost.tsx
.cost {
  padding-top: 10px;
  display: flex;
  gap: 0.7rem;
}

.mana,
.cooldown {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #ffffffde;
  font-size: 12px;

  img {
    width: 15px;
    height: 15px;
  }
}

.behavior,
.aboutAbility {
  border-bottom: 1px solid #080d15;
}
