@import '../mixins/animation.scss';

.bgBlur {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  @include bluredAnimation;
}

.itemDescription {
  width: 300px;
  height: max-content;
  display: flex;
  padding: 3px;
  flex-direction: column;
  background: #222c35;
  border: 3px solid #1d2429;
  z-index: 10;
}

.nameAndCostWrapper {
  width: 100%;
  display: flex;
  padding: 6px 9px 10px 9px;
  color: #ffffffde;
}

.nameAndCostWrapper__itemPicture {
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
}

.nameAndCostWrapper__nameAndCost {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.nameAndCostWrapper__nameAndCost__name {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.nameAndCostWrapper__nameAndCost__cost,
.nameAndCostWrapper__nameAndCost__tier {
  display: inline-block;
}

.nameAndCostWrapper__nameAndCost__cost {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  color: #e9bc37;
  font-size: 12px;

  img {
    width: 16px;
    height: auto;
  }
}

.nameAndCostWrapper__nameAndCost__tier {
  font-size: 13px;
}

.tooltip__description {
  width: 100%;
  height: 100%;
  background: #152128;
  padding: 6px 10px;
  text-align: left;
}

.target,
.dispellable,
.piercesDebuffImmunity {
  padding-bottom: 5px;
}

.target,
.dispellable,
.piercesDebuffImmunity {
  color: #6c7b7e;
  font-size: 13px;
  div {
    display: inline;
  }
}

.dispellable_typeOne,
.piercesDebuffImmunity_typeOne {
  color: #5aa460;
}

.dispellable_typeTwo,
.piercesDebuffImmunity_typeTwo {
  color: #8b0000;
}

.attrib {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.attrib__text {
  font-size: 13px;
  color: #6c7b7e;
  div {
    display: inline;
  }
}

.abilities {
  width: 100%;
  height: auto;
}

.abilities_active {
  background: #181e30;
}

.abilities_use {
  background: #17231f;
}

.abilities_passive {
  background: #1c2630;
}

.abilities_active__header,
.abilities_use__header,
.abilities_passive__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000000c7;
  letter-spacing: 1px;
  padding: 6px 8px;
  margin-top: 15px;
}

.abilities_active_passive__header__content {
  div {
    display: inline;
  }
}

.abilities_active_passive__header__manaAndCooldown {
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
  gap: 0.5rem;
}

.abilities_active_passive__header__manaAndCooldown_image {
  display: flex;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
  }

  div {
    display: inline;
    color: #ffffffde;
    font-weight: 400;
    letter-spacing: 0px;
    padding-left: 3px;
    font-size: 13px;
  }
}

.abilities_active__header {
  background-image: linear-gradient(to right, #373b7e, #181e30);
  color: #9f9fcf;
}

.abilities_use__header {
  background: linear-gradient(to right, #273f27, #17231f);
  color: #95c07a;
}

.abilities_passive__header {
  background-image: linear-gradient(to right, #263540, #1c2630);
  color: #7e8c9d;
}

.abilities_active__description,
.abilities_use__description,
.abilities_passive__description {
  font-size: 13px;
  line-height: 18px;
  padding: 6px 6px;

  div {
    display: inline;
    text-shadow: 1px 1px 2px #00000065;
  }
}

.abilities_active__description {
  color: #71779c;
}

.abilities_use__description {
  color: #7b8a72;
}

.abilities_passive__description {
  color: #56616e;
}

.hint,
.lore {
  width: 100%;
  height: auto;
  padding: 6px 6px;
  font-size: 13px;
  margin-top: 10px;
}

.hint {
  background: #51565f;
  color: #080d15;
}

.lore {
  background: #0d1118;
  color: #51565f;
}

// here
.components {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 13px;
  color: #51565f;
}

.components__items {
  display: flex;
  gap: 0.5rem;
  padding-top: 5px;
  color: #81681d;
  font-size: 10px;
}

.components__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  div {
    display: inline;
  }
}

@keyframes blured {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(8px);
  }
}
