@import '../variables/fontColors.scss';

.match {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match__header {
  margin-top: 2rem;

  margin-bottom: 3rem;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 20px;
  }
}

.scoreAndTime {
  padding-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.scoreAndTime__radiantScore {
  color: $radiantColor;
}
.scoreAndTime__duration {
  color: $fontColor2;
  font-weight: 400;
  font-size: 1rem;
}
.scoreAndTime__direScore {
  font-size: 16px;
  color: $direColor;
}

.scoreAndTime__radiantScore,
.scoreAndTime__direScore {
  font-size: 20px;
}
