@import '../variables/fontColors.scss';

$border: 1px solid rgba(255, 255, 255, 0.1);

.form {
  margin-top: 10rem;
  padding-bottom: 3rem;
  width: 100%;

  span {
    display: inline-block;
    color: $fontColor2;
    padding-bottom: 5px;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search__input {
  padding: 0px 10px;
  width: 300px;
  height: 34px;
  background-color: #242f39;
  border: $border;
  color: inherit;
  outline: none;
  transition: all 110ms ease-in-out;
  color: $fontColor1;

  &::placeholder {
    color: #ffffff65;
  }

  &:focus {
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  appearance: textfield;
  -moz-appearance: textfield;
}

.search__button_enabled,
.search__button_disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 34px;
  padding: 0px 10px;

  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  background-color: #242f39;
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
  transition: all 110ms ease-in-out;
}

.search__button_enabled {
  color: $fontColor2;
  cursor: pointer;
}

.search__button_disabled {
  color: $fontColor1;
  cursor: no-drop;
}
