$text-main: #ffffffde;
$text-second: #ffffffb0;
$text-radiant: #59ce8f;
$text-dire: #df2e38;

$background-main: #1c242d;
$background-second: #242f39;
$background-third: #ffffffde;
$background-hover: #ffffff14;

$border-main: #ffffff1a;
