$text1: #ffffffde;
$text2: #ffffffb0;
$text3: #ffab40;
$text-radiant: #59ce8f;
$text-dire: #df2e38;

$bg1: #1c242d;
$bg2: #242f39;
$bg3: #ffffffde;
$bg4: #3b4b5e;
$bg5: #c9af1d;
$bg6: #ffffff14; // for hovering/opacity
$bg7: #533814;

$border1: #ffffff1a;
$border2: #ffffffde;

// $fontColor1: #ffffffb0;
// $fontColor2: #ffffffde;
// $radiantColor: #59ce8f;
// $direColor: #df2e38;
// $hoverBg1: #ffffff14;
// $bgColor2: #242f39;
