$text-main: #ffffffde;
$text-second: #ffffffb0;
$text-radiant: #59ce8f;
$text-dire: #df2e38;

$bg1: #1c242d;
$bg2: #242f39;
$bg3: #ffffffde;
$bg4: #3b4b5e;
$background-hover: #ffffff14;

$border-main: #ffffff1a;
$border-second: #ffffffde;
