@use 'sizes';
@use 'colors';

.footer {
  margin-top: sizes.px-to-rem(32);
  padding: sizes.px-to-rem(20);
  width: 100%;
}

.footer__rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: colors.$text1;
}

.footer__heading {
  font-size: sizes.px-to-rem(14);
  font-weight: 500;
}
