@use 'color-vars.scss';
@use 'mixins.scss';

$size20px: 1.25rem;
$size14px: 0.875rem;

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background-color: color-vars.$background-second;
  border-bottom: 1px solid color-vars.$border-main;
}

.header__content {
  padding: 0px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: color-vars.$text-main;

  @include mixins.main-content-wrapper;
}

.header__heading {
  font-size: $size20px;
  font-weight: 600;
  color: inherit;
}

.header__navigation {
  position: relative;
}

.header__linksList {
  display: flex;
}

.header__link {
  position: relative;
  z-index: 2;

  color: inherit;
}

.header__heading,
.header__link {
  padding: 7px;

  font-size: $size14px;
  text-transform: capitalize;
}

.header__burger {
  display: none;
}

@media (max-width: 400px) {
  .header__burger {
    width: 33px;
    height: 45px;

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: 20px;

    cursor: pointer;

    span {
      position: relative;
      display: block;
      width: 25px;
      height: 2px;
      background-color: color-vars.$background-third;
    }
  }

  .header__burger_opened {
    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 33px;
      width: 2px;
      background-color: color-vars.$background-third;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    span {
      display: none;
    }
  }

  .header__navigation {
    position: absolute;
    top: 46px;
    left: 0px;

    width: 100%;
  }

  .header__movableBg {
    display: none !important;
  }

  .header__linksList {
    width: 100%;
    height: 100vh;
    padding: 10px 10px;

    gap: 0.3rem;
    flex-direction: column;

    background-color: color-vars.$background-second;
  }

  .header__linksList_closed {
    display: none;
  }
}
