@use 'sizes.scss';
@use 'colors.scss';
@use 'mixins.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: linear-gradient(to left, colors.$bg2, colors.$bg4);
  /*background-color: colors.$bg2;*/
  border-bottom: sizes.px-to-rem(1) solid colors.$border-main;
}

.header__content {
  padding: 0rem sizes.px-to-rem(20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: colors.$text-main;
  @include mixins.main-content-wrapper;
}

.header__heading {
  font-size: sizes.px-to-rem(20);
  font-weight: 600;
  color: inherit;
}

.header__navigation {
  position: relative;
}

.header__linksList {
  display: flex;
}

.header__link {
  position: relative;
  z-index: 2;
  color: inherit;
}

.header__heading,
.header__link {
  display: inline-flex;
  align-items: center;
  padding: sizes.px-to-rem(7);
  font-size: sizes.px-to-rem(14);
  text-transform: capitalize;
}

.header__burger {
  display: none;
}

/* 400px =  25rem */
@media (max-width: 25rem) {
  .header__burger {
    margin-left: sizes.px-to-rem(20);
    width: sizes.px-to-rem(33);
    height: sizes.px-to-rem(45);
    display: flex;
    gap: sizes.px-to-rem(5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    span {
      position: relative;
      display: block;
      width: sizes.px-to-rem(25);
      height: sizes.px-to-rem(2);
      background-color: colors.$bg3;
    }
  }

  .header__burger_opened {
    &::before,
    &::after {
      position: absolute;
      content: '';
      height: sizes.px-to-rem(33);
      width: sizes.px-to-rem(2);
      background-color: colors.$bg3;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    span {
      display: none;
    }
  }

  .header__navigation {
    position: absolute;
    top: sizes.px-to-rem(46);
    left: 0rem;
    width: 100%;
  }

  .header__movableBg {
    display: none !important;
  }

  .header__linksList {
    width: 100%;
    height: 100vh;
    padding: sizes.px-to-rem(10);
    gap: 0.3rem;
    flex-direction: column;
    background-color: colors.$bg2;
  }

  .header__linksList_closed {
    display: none;
  }
}
