@use 'sizes';
@use 'colors';
@use 'mixins';

.matches {
  padding-top: sizes.px-to-rem(128);
  font-size: sizes.px-to-rem(14);
}

.matches__search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches__label {
  color: colors.$text1;
  pointer-events: none;
  transform: translateY(calc(sizes.px-to-rem(26) * -1));
  transition: all 0.15s ease-in-out;
}

.matches__input {
  padding: sizes.px-to-rem(3) sizes.px-to-rem(4);
  width: sizes.px-to-rem(200);
  display: block;
  border: none;
  border-bottom: sizes.px-to-rem(1) solid colors.$border2;
  background: unset;
  color: colors.$text2;

  &:focus {
    outline: none;
    color: colors.$text1;
  }

  &:focus + .matches__label,
  &:valid + .matches__label {
    transform: translateY(calc(sizes.px-to-rem(45) * -1));
  }

  &::placeholder {
    opacity: 0;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  appearance: textfield;
  -moz-appearance: textfield;
}

.matches__submitLink {
  padding: sizes.px-to-rem(7);
  border: sizes.px-to-rem(2) solid colors.$border1;
  background-color: colors.$bg2;
  transition: all 0.15s ease-in-out;
  color: colors.$text1;
}

.submitLink_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.submitLink_active {
  opacity: 1;
  cursor: pointer;
}

.matches__tableWrapper {
  margin-top: 6rem;
}

/* 900px = 56.25rem */
@media (max-width: 56.25rem) {
  .matches__tableWrapper {
    @include mixins.scroll-x;
  }
}
