@use 'sizes';
@use 'colors';
@use 'table.module.scss';

.matchLink {
  color: inherit;
}

.logoAndName {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.trophy {
  width: 15px;
  height: 15px;
  color: colors.$bg5;
}
