@use 'sizes';
@use 'colors';
// @use 'mixins';

.match {
  padding-top: sizes.px-to-rem(128);
  font-size: sizes.px-to-rem(14);
  color: colors.$text1;
}

// TEMP MOVE IT TO TABLE
.match__overview {
  margin-top: 6rem;
}
