@use 'sizes';
@use 'colors';
// @use 'mixins';

.match {
  // padding-top: sizes.px-to-rem(128);
  font-size: sizes.px-to-rem(14);
  color: colors.$text1;
}

.match__loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// TEMP MOVE IT TO TABLE ??
.match__overview {
  margin-top: 6rem;
}

.match__teamName {
  font-size: sizes.px-to-rem(20);
}

.match__teamName_radiant {
  color: colors.$text-radiant;
}
.match__teamName_dire {
  color: colors.$text-dire;
}
