@use 'sizes';
@use 'colors';
@use 'mixins';

.match__header {
  margin-top: 6rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, colors.$bg2, colors.$bg4);
  border: sizes.px-to-rem(1) solid colors.$border1;
  color: inherit;
}

// .match__title {
// }

// .match__idAndReplay {
// }
// .matchId {
// }

.replay {
  position: relative;
  margin-top: sizes.px-to-rem(4);
  padding: sizes.px-to-rem(4) sizes.px-to-rem(6) sizes.px-to-rem(4) sizes.px-to-rem(4);
  display: flex;
  gap: 0.2rem;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$bg6;
    transition: all 0.15s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.replay_available {
  .replay__download,
  .replay__link {
    color: colors.$text1;
  }
}

.replay_warning {
  .replay__download,
  .replay__link {
    color: colors.$text3;
  }
}

// .replay_available,
// .replay_warning {
// }

.replay__download {
  font-size: sizes.px-to-rem(18);
}

// .replay__link {
// }

.replay__tooltip {
  text-transform: none !important;
  font-weight: bold !important;
  color: colors.$text3 !important;
  background-color: colors.$bg7 !important;
}

.match__info {
  display: flex;
  gap: 0.7rem;
}

// .details {
// }

// .details__data {
// }

.details__section {
  margin-top: sizes.px-to-rem(4);
  display: inline-block;
  color: colors.$text2;
}

/* 620px = 38.75rem */
@media (max-width: 38.75rem) {
  .match__header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .match__idAndReplay {
    margin-bottom: sizes.px-to-rem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .match__info {
    flex-wrap: wrap;
    justify-content: center;
  }
}
