@use 'sizes';
@use 'colors';

.facet {
  width: max-content;
  height: max-content;
  background: colors.$bg8;
}

.facet__title {
  padding: sizes.px-to-rem(5) sizes.px-to-rem(15) sizes.px-to-rem(5) sizes.px-to-rem(5);
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: sizes.px-to-rem(50);
    height: auto;
    padding-right: sizes.px-to-rem(10);
  }

  // h1 {
  // }
}

.facet__description {
  padding: sizes.px-to-rem(5);
  max-width: sizes.px-to-rem(280);
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: sizes.px-to-rem(13);
  color: colors.$text2;
}
