@use 'sizes';
@use 'colors';
@use 'table.module.scss';

.playerWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.heroAndNickname {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero {
  position: relative;
}

.heroFacet {
  position: absolute;
  bottom: sizes.px-to-rem(-7);
  right: sizes.px-to-rem(-7);
  z-index: 10;
  padding: sizes.px-to-rem(3);
  width: sizes.px-to-rem(20);
  height: sizes.px-to-rem(20);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.heroIcon {
  height: sizes.px-to-rem(30);

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.heroLevel {
  position: absolute;
  top: 0;
  left: 0;

  width: sizes.px-to-rem(15);
  height: sizes.px-to-rem(15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: sizes.px-to-rem(10);
  font-weight: bold;
  color: colors.$text1;
  background-color: #000000be;

  cursor: default;
}

.nickname {
  display: flex;
  flex-direction: column;
}

.nickname_radiant {
  color: colors.$text-radiant;
}

.nickname_dire {
  color: colors.$text-dire;
}

.nickname_radiant,
.nickname_dire {
  text-align: left;
}

.rankAndAvatar {
  position: relative;
  z-index: 2;
  display: flex;
  gap: sizes.px-to-rem(8);
  align-items: center;
  justify-content: space-between;
}

.rank {
  position: relative;
  width: sizes.px-to-rem(40);
  height: sizes.px-to-rem(40);

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.tier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000069;
  color: #fff;
}

.avatar {
  width: sizes.px-to-rem(24);
  height: sizes.px-to-rem(24);

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: sizes.px-to-rem(1) solid colors.$border1;
  }
}
