@mixin main-content-wrapper {
  position: relative;

  max-width: 1400px;
  min-height: 100%;
  width: 100%;
  padding: 0px 30px;

  margin: 0 auto;
}

@mixin scroll-x {
  overflow: scroll !important;
  scrollbar-color: rgba(255, 255, 255, 0.1) #242f39;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
