@use 'sizes';
@use 'colors';

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: colors.$bg2;
  font-size: sizes.px-to-rem(14);
  color: colors.$text-main;
}

.table__head {
}

.table__headRow {
  background: linear-gradient(to left, colors.$bg2, colors.$bg4);
}

.table__headCell {
  padding: sizes.px-to-rem(5) sizes.px-to-rem(10);
  text-align: left;

  &:nth-child(n + 2) {
    text-align: center;
  }

  &:nth-child(4) {
    color: colors.$text-radiant;
  }
  &:nth-child(5) {
    color: colors.$text-dire;
  }
}

.table__body {
}

.table__bodyRow {
  &:nth-child(odd) {
    background-color: colors.$bg1;
  }
}

.table__bodyCell {
  padding: sizes.px-to-rem(8) sizes.px-to-rem(10);

  &:nth-child(2),
  &:nth-child(3) {
    text-align: center;
  }
}

.table,
.table__headRow,
.table__headCell,
.table__bodyRow,
.table__bodyCell {
  border: sizes.px-to-rem(1) solid colors.$border-main;
}

/* 900px = 56.25rem */
@media (max-width: 56.25rem) {
  .table {
    width: sizes.px-to-rem(840);
  }
}
