@import '../variables/fontColors.scss';
@import '../mixins/animation.scss';
@import '../mixins/fontsize.scss';

$border: 1px solid rgba(255, 255, 255, 0.1);

@mixin cardContainer {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.4rem;
  width: 100%;
  height: 400px;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) #242f39;
}

.homeWrapper {
  margin-top: 4rem;
  padding: 10px 0px;
  width: 100%;
  height: 100%;
}

.contentHeader {
  padding: 4px 10px;
  color: $fontColor2;
  border-bottom: $border;
}

.content {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 1.5em;
}

.content__info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about,
.proMatches,
.dotaNews {
  width: 100%;
  height: max-content;
  border: $border;
  background-color: #242f39;
}

.about__content,
.proMatchCard,
.dotaNewsCard {
  padding: 10px 20px;
  width: 100%;
  color: $fontColor1;
}

.dotaNews__content {
  @include cardContainer();
}

.dotaNewsCard,
.proMatchCard {
  transition: all 0.15s ease-in-out;
  cursor: default;
  &:hover {
    background-color: $hoverBg1;
  }
}

.dotaNewsCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.3rem;
  border: $border;

  h4 {
    a {
      color: $fontColor1;
    }
  }

  &:hover {
    h4 {
      a {
        cursor: pointer;
        color: #3b82f6;
      }
    }
  }
}

.proMatches {
  width: 30%;
  height: max-content;
}

.proMatches__content {
  position: relative;
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) #242f39;
}

.proMatchCard {
  width: 100%;
  a {
    color: $fontColor1;
  }

  &:hover {
    a {
      color: #3b82f6;
    }
  }

  &:not(:last-child) {
    border-bottom: $border;
  }
}

.teams {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1190px) {
  .content {
    flex-direction: column;
  }

  .content__info {
    width: 100%;
  }

  .proMatches {
    width: 100%;
  }

  .proMatches__content {
    @include cardContainer();
  }

  .proMatchCard {
    border: $border;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 660px) {
  .dotaNews__content,
  .proMatches__content {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 480px) {
  .dotaNews__content,
  .proMatches__content {
    grid-template-columns: auto;
  }
}

@keyframes idColor {
  0% {
    color: $fontColor1;
  }
  100% {
    color: #3b82f6;
  }
}
