@use '../variables/font-colors.scss';
@use '../mixins/scroll-x.scss';

.meta {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meta__categories {
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  button {
    color: font-colors.$fontColor2;
    background: none; // SEE
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;

    border-bottom: 1.5px solid #ffffff00;

    transition: all 0.15s ease-in-out;

    &:hover {
      border-bottom: 1.5px solid font-colors.$fontColor2;
    }
  }
}

.metaHeader {
  padding: 10px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h3 {
    text-transform: uppercase;
  }

  img {
    background-color: font-colors.$bgColor2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      filter: none !important; // SEE
    }
  }
}

.metaTable {
  margin-top: 2rem;
  width: min-content;
  background-color: font-colors.$bgColor2;

  th,
  div {
    font-size: 12px;
  }

  th {
    padding: 5px 10px;
    text-transform: capitalize;
    color: font-colors.$fontColor2;

    &:not(:first-child) {
      cursor: pointer;
    }
  }
}

@media (max-width: 435px) {
  .tableWrapper {
    width: 100%;
    @include scroll-x.scrollX;
  }
}
