@use '../variables/font-colors.scss';
@use '../mixins/fontsize.scss';

$border: 1px solid rgba(255, 255, 255, 0.1);

.footer {
  margin-top: 2rem;
  padding: 20px;
  width: 100%;
  border-top: $border;
  background-color: #242f39;
}

.footer__dscope {
  color: font-colors.$fontColor1;
  text-align: center;
  h1 {
    @include fontsize.adaptiveFont(1, 1, 120);
    color: font-colors.$fontColor2;
    text-transform: uppercase;
  }
}

.footer__bazyshyndev {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  a {
    color: font-colors.$fontColor1;
  }

  a:hover {
    color: #3b82f6;
  }
}

@media (max-width: 1920px) {
  .footer__dscope {
    h1 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 300px) {
  .footer {
    width: 300px;
  }
}
