@import '../variables/fontColors.scss';
@import '../mixins/fontsize.scss';

$border: 1px solid rgba(255, 255, 255, 0.1);

.footer {
  margin-top: 2rem;
  padding: 20px;
  width: 100%;
  border-top: $border;
  background-color: #242f39;
}

.footer__dscope {
  color: $fontColor1;
  text-align: center;
  h3 {
    color: $fontColor2;
    text-transform: uppercase;
  }
}

.footer__bazyshyndev {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  a {
    color: $fontColor1;
  }

  a:hover {
    color: #3b82f6;
  }
}

@media (max-width: 300px) {
  .footer {
    width: 300px;
  }
}
