@import '../variables/fontColors.scss';

$border: 1px solid rgba(255, 255, 255, 0.1);
$border1: 4px solid #ffffff00;
$bgColor: #242f39;

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: max-content;
  background-color: $bgColor;
  border-bottom: $border;
  z-index: 100;
}

.headerContainer {
  padding: 0px 30px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerContent {
  position: relative;
  width: max-content;
  height: max-content;
  display: flex;
}

.headerLink,
.activeHeaderLink {
  position: relative;
  padding: 7px;
  font-weight: 400;
  text-transform: capitalize;
  color: $fontColor1;
  cursor: pointer;
  z-index: 2;
}

.headerLink {
  transition: all 0.15s ease-in-out;
  &:hover {
    color: $fontColor2;
  }
}

.activeHeaderLink {
  color: $fontColor2;
}

// small header
.burgerMenu_closed,
.burgerMenu_open {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 33px;
  height: 45px;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    background-color: $fontColor1;
  }
}

.burgerMenu_open {
  &::before,
  &::after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $fontColor1;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  span {
    display: none;
  }
}

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 46px;
  left: 0px;
  background: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 20px;
}

@media (max-width: 550px) {
  .headerContainer {
    justify-content: flex-start;
  }

  .headerLink,
  .activeHeaderLink {
    border-bottom: none;
  }

  .headerLink {
    &:hover {
      border-bottom: none;
    }
  }

  .activeHeaderLink {
    border-bottom: none;
  }
}
